html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

#__next {
    height: 100%;
}

.m-mazars-btn {
    background-color: #0071CE !important;
    border-radius: 0 0 0 20px !important;
    color: #F4F4F4 !important;
}

.m-mazars-btn:hover {
    background-color: #F4F4F4 !important;
    color: #0071CE !important;
}

.m-radius-btn {
    border-radius: 0 0 0 20px !important;
}

.m-btn {
    border-radius: 0 0 0 20px !important;
}

.full-height-container {
    height: 100%;
}

.row {
    margin-right: 0px !important;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.nav-logo-image {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
}


/* Remove rounded corners*/

* {
    box-sizing: border-box;
}


/* Color of the links BEFORE scroll */

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
    color: #121111 !important;
}

.m-top-margin-header {
    margin-top: 76px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
    box-shadow: 0 4px 6px -6px grey !important;
}

.m-margin-top {
    padding-top: 165px;
}

.m-top-header {
    z-index: 1030 !important;
    height: 76px;
    border-bottom: none;
    box-shadow: none !important;
}

.m-top-nav {
    z-index: 1020 !important;
}

.m-top-header-profile {
    z-index: 2000 !important;
    position: relative;
}

.m-max-height {
    height: 100%;
}

.m-align-center {
    display: flex;
    align-items: center;
    width: 100%
}

.m-header-font {
    font-size: 1.25rem;
}

.form-control {
    height: 45px !important;
}

.large-navbar-toggler {
    font-size: 1.5em;
    transform: scale(1.5);
    margin: 4xp;
    margin-left: 20px;
    padding: 4xp;
}

.m-no-card-effect {
    box-shadow: none !important;
    border: none !important;
}


/* ***************************************  */

.navbar {
    min-height: 65px;
}


/* ***************************************  */


/* Color of the links AFTER scroll */

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
    color: #121111 !important;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #121111 !important;
}


/* An optional height of the navbar AFTER scroll */

.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

.m-full-height-container {
    height: calc(100vh - 180px);
}

.m-btn-normal {
    background-color: #0071CE !important;
    border-radius: 0 0 0 0px !important;
    color: #F4F4F4 !important;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@media only screen and (max-width: 560px) {
    .logoMazart {
        max-width: 100%;
        margin-top: 12px;
        margin-left: 40px;
    }
}

.custom-modal-dialog {
    max-width: 30% !important;
}

@media (max-width: 767px) {
    .custom-modal-dialog {
        right: 0 !important;
        left: auto !important;
        max-width: 60% !important;
    }
}